<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantillaDashboard :: head-dash}">
        <title>Administrador Evo</title>
    </head>
    <body>
        
        
        <main th:fragment="listadoNoticias" id="noticias">
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                       <!--<a class="btn btn-primary" href="login.html">Agregar Noticia</a>-->
                       <button 
                            type="button" 
                            class="btn btn-primary" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarNoticia">
                            <i class="fas fa-plus"></i> Agregar
                        </button>
                    </div>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Noticias Evo</h1>
                        <div class="card mb-4">
                            <div class="card-body" th:if="${noticias != null and !noticias.empty}"> <!-- Empiezan pruebas de listar membresias-->
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Titulo</th>
                                            <th>Texto noticia</th>
                                            <th>Posteo</th>
                                            <th>Estado</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Titulo</th>
                                            <th>Texto noticia</th>
                                            <th>Posteo</th>
                                            <th>Estado</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="noticias, contador : ${noticias}">
                                            <td>[[${contador.count}]]</td> <!-- Pruebas-->
                                            <td>[[${noticias.titulo}]]</td>
                                            <td>[[${noticias.texto}]]</td>
                                            <td>[[${noticias.posteo}]]</td>
                                            <td th:text="${noticias.activo} ? 'Activa' : 'Inactiva'"/>
                                            <td><a th:href="@{/noticias/eliminar/}+${noticias.idNoticia}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar</a>
                                                <!--th:href="@{/membresias/modificar/}+${membresias.idMembresia}"-->
                                                <a th:href="@{/noticias/modificar/}+${noticias.idNoticia}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Actualizar</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${noticias == null or noticias.empty}">
                                <span>Lista Vacia</span>
                            </div>
                        </div>
                    </div>
                </main>
        
        
        
        <!-- Agregar noticia -->
        <section th:fragment="agregarNoticia">
            <div id="agregarNoticia" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar noticia</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/noticias/guardar}" th:object="${noticia}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="titulo">Titulo</label>
                                    <input type="text" class="form-control" name="titulo" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="texto">Texto noticia</label>
                                    <input type="text" class="form-control" name="texto" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="posteo">Fecha posteo</label>
                                    <input type="date" class="form-control" name="posteo" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">Activo</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarNoticia">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/noticias/guardar}" 
                          th:object="${noticias}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idNoticia" th:field="*{idNoticia}"/>
                        <section th:replace="~{noticias/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Actualizar</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="descripcion">Descripcion</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="activo">Activo</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/noticias/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/noticias/eliminar/}+${noticia.idNoticia}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        <!-- Inicia listar novedades en Index --> 
        <section th:fragment="listarNovedades">
            <div class="latest-news container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="row-title">
                              Novedades EVO Prueba
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4" th:each="noticia : ${noticias}">
                            <div class="post-box white-bg">
                                <div class="post-img"></div>
                                <span class="badge badge-danger">Nueva</span>
                                <div class="post-title"><span th:text="${noticia.titulo}"></span></div>
                                <!--<div class="post-link"><a href="#">Leer mas</a></div>
                                <button 
                                    type="button" 
                                    class="btn btn-primary" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#leerNoticia">
                                    <i class="fas fa-plus"></i> Leer mas
                                </button>-->
                                
                                <button class="btn btn-primary leer-mas" data-bs-toggle="modal" data-bs-target="#leerNoticia" 
                    th:attr="data-id=${noticia.idNoticia}">Leer más</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Termina listar novedades en Index --> 
        
        <!-- Vista completa novedad en Index -->
        <section th:fragment="leerNoticia">
            <div id="leerNoticia" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title"><span th:text="${noticia.titulo}"></span></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        
                    </div>
                </div>
            </div>
        </section>
    </body>