<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantillaDashboard :: head-dash}">
        <title>Administrador Evo</title>
    </head>
    <body>
        
        
        <main th:fragment="listadoMembresias" id="membresias">
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                       <!--<a class="btn btn-primary" href="login.html">Agregar Membresía</a>-->
                       <button 
                            type="button" 
                            class="btn btn-primary" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarMembresia">
                            <i class="fas fa-plus"></i> Agregar
                        </button>
                    </div>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Membresías Evo</h1>
                        <div class="card mb-4">
                            <div class="card-body" th:if="${membresias != null and !membresias.empty}"> <!-- Empiezan pruebas de listar membresias-->
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>Precio</th>
                                            <th>Estado</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>Precio</th>
                                            <th>Estado</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="membresias, contador : ${membresias}">
                                            <td>[[${contador.count}]]</td> <!-- Pruebas-->
                                            <td>[[${membresias.nombre}]]</td>
                                            <td>[[${membresias.descripcion}]]</td>
                                            <td>[[${membresias.precio}]]</td>
                                            <td th:text="${membresias.activo} ? 'Activa' : 'Inactiva'"/>
                                            <td><a th:href="@{/membresias/eliminar/}+${membresias.idMembresia}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar</a>
                                                <!--th:href="@{/membresias/modificar/}+${membresias.idMembresia}"-->
                                                <a th:href="@{/membresias/modificar/}+${membresias.idMembresia}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Actualizar</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${membresias == null or membresias.empty}">
                                <span>Lista Vacia</span>
                            </div>
                        </div>
                    </div>
                </main>
        
        <!-- Agregar membresia -->
        <section th:fragment="agregarMembresia">
            <div id="agregarMembresia" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar membresia</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/membresias/guardar}" th:object="${membresia}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">Descripcion</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="precio">Precio</label>
                                    <input type="text" class="form-control" name="precio" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="destacar">Destacar</label>
                                    <input class="form-check-input" type="checkbox" name="destacar" id="activo"/>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">Activo</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                            </div>
                            
                            <h5>Beneficios</h5>

                            <div class="mb-3" id="beneficios-container">
                            </div>

                            <button type="button" class="btn btn-secondary" onclick="agregarBeneficio()">Agregar Beneficio</button>

              
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarMembresia">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/membresias/guardar}" 
                          th:object="${membresias}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idMembresia" th:field="*{idMembresia}"/>
                        <section th:replace="~{membresias/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Actualizar</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombre">Nombre</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{nombre}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descripcion">Descripcion</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="precio">Precio</label>
                                                    <input type="text" class="form-control" 
                                                           name="precio" th:field="*{precio}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="destacar">Destacar</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="destacar" 
                                                           id="destacar"
                                                           th:field="*{destacar}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="activo">Activo</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                                </div>
                                                
                                                
                                                <h5>Beneficios</h5>

                                        <div class="mb-3" id="beneficios-container">
                                            <!--<div class="mb-3" th:each="beneficio, iterStat : ${membresias.beneficios}">
                                                <input type="text" class="form-control" th:field="*{beneficios[__${iterStat.index}__].descripcion}" placeholder="Descripción del beneficio">
                                                <button type="button" class="btn btn-danger btn-sm" onclick="eliminarBeneficio(this)">Eliminar</button>
                                            </div>-->
                                            <div class="mb-3" th:each="beneficio, iterStat : ${membresias.beneficios}" th:attr="data-index=${iterStat.index}">
                                                <input type="text" class="form-control" th:field="*{beneficios[__${iterStat.index}__].descripcion}" placeholder="Descripción del beneficio">
                                                <button type="button" class="btn btn-danger btn-sm" onclick="eliminarBeneficio(this)">Eliminar</button>
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-secondary" onclick="agregarBeneficio()">Agregar Beneficio</button>

                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/membresias/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/membresias/eliminar/}+${membresia.idMembresia}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>