<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantillaDashboard :: head-dash}">
        <title>Administrador Evo</title>
    </head>
    <body>
        
        <main th:fragment="listadoCategorias" id="categorias">
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0" sec:authorize="hasRole('ROLE_ADMIN')">
                       <!--<a class="btn btn-primary" href="login.html">Agregar Noticia</a>-->
                       <button 
                            type="button" 
                            class="btn btn-primary" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarCategoria">
                            <i class="fas fa-plus"></i> Agregar
                        </button>
                    </div>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Categorias de Productos</h1>
                        <div class="card mb-4">
                            <div class="card-body" th:if="${categorias != null and !categorias.empty}"> <!-- Empiezan pruebas de listar membresias-->
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Descripcion</th>
                                            <th>Estado</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Descripcion</th>
                                            <th>Estado</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="categorias, contador : ${categorias}">
                                            <td>[[${contador.count}]]</td> <!-- Pruebas-->
                                            <td>[[${categorias.descripcion}]]</td>
                                            <td th:text="${categorias.activo} ? 'Activa' : 'Inactiva'"/>
                                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/categorias/eliminar/}+${categorias.idCategoria}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar</a>
                                                <!--th:href="@{/membresias/modificar/}+${membresias.idMembresia}"-->
                                                <a th:href="@{/categorias/modificar/}+${categorias.idCategoria}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Actualizar</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${categorias == null or categorias.empty}">
                                <span>Lista Vacia</span>
                            </div>
                        </div>
                    </div>
                </main>
        
        <section th:fragment="agregarCategoria">
            <div id="agregarCategoria" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar categoria</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/categorias/guardar}" th:object="${categoria}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="descripcion">Categoria</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="rutaImagen">Imagen</label>
                                    <input type="text" class="form-control" name="rutaImagen" required="false"/>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">Activo</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
       
        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarCategorias">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/categorias/guardar}" 
                          th:object="${categorias}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>
                        <section th:replace="~{categorias/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Actualizar</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="descripcion">Categoria</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="activo">Activo</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/categorias/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/categorias/eliminar/}+${categoria.idCategoria}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>