<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>EVO GYM</title>        
    </head>
        
    <body id="page-top">
        <header th:replace="~{layout/plantilla :: nav-pruebas}"/> 
        
        <section class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="subtitulo-seccion">El mejor</div>
                    <div class="titulo-seccion">Gimnasio</div>
                    <p class="texto-principal">Explora nuestra galería de fotos y descubre el ambiente vibrante y motivador de EVO.</p>
                    <p class="texto-principal">Aquí podrás ver nuestras instalaciones, clases en acción y momentos destacados de nuestra comunidad.</p>
                    <p class="texto-principal">Únete a nosotros y visualiza lo que te espera en tu viaje hacia un estilo de vid amás saludable. ¡Inspírate y comienza hoy mismo!</p>
                </div>
            </div>
        </section>
        
        <section class="pt-5 pb-5 shadow-sm">
            <div class="container">
              <div class="row pt-5">
                <div class="col-12">
                </div>
              </div>
              <div class="row">
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                  <div class="card">
                    <img src="/assets/img/about/grupo.jpeg" class="card-img-top" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">Grupo</h5>
                      <p class="card-text mb-4">Disfruta de nuestras clases grupales, en las que expondremos la energía y la camaradería que se vive en nuestras sesiones.</p>
                    </div>
                  </div>
                </div>
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                  <div class="card">
                    <img src="/assets/img/about/maquinas.jpeg" class="card-img-top" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">Máquinas</h5>
                      <p class="card-text mb-4">En EVO contamos con gran variedad y modernidad de equipamiento disponible para todos los niveles. Podrás utilizarlas siempre.</p>

                    </div>
                  </div>
                </div>
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                  <div class="card">
                    <img src="/assets/img/about/yoga.jpeg" class="card-img-top" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">Yoga</h5>
                      <p class="card-text mb-4">Ven a nuestras clases de yoga en un ambiente sereno y relajante que promueve el bienestar mental y físico.</p>
                    </div>
                  </div>
                </div>
              </div>
            <div class="row pt-5">
                <div class="col-12">
                </div>
              </div>
              <div class="row">
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                  <div class="card">
                    <img src="/assets/img/about/entrenadores.jpeg" class="card-img-top" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">Entrenadores</h5>
                      <p class="card-text mb-4">Los entrenadores certificados guian a los miembros en sus ejercicio, enfatizando el apoyo y la atención personalizada que ofrecemos.</p>
                    </div>
                  </div>
                </div>
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                  <div class="card">
                    <img src="/assets/img/about/celebracion.jpeg" class="card-img-top" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">Celebración</h5>
                      <p class="card-text mb-4">Eventos especiales en el gimnasio, como una competencia amistosa o un taller, mostrando la comunidad unida y motivada.</p>

                    </div>
                  </div>
                </div>
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                  <div class="card">
                    <img src="/assets/img/about/espacios.jpeg" class="card-img-top" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">Espacios</h5>
                      <p class="card-text mb-4">Contamos con área de descanso donde los miembros pueden relajarse, socializar y rehidratarse después de un buen entrenamiento.</p>
                    </div>
                  </div>
                </div>
              </div>
                
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"/> 
        
        <script src="js/scripts.js"></script>
        <script>
            
            document.addEventListener('DOMContentLoaded', (event) => {
                // Función para obtener el idioma de la URL
                function getLanguageFromURL() {
                    const urlParams = new URLSearchParams(window.location.search);
                    return urlParams.get('lang');
                }

                // Obtener el idioma actual de la URL o usar 'ES' como valor por defecto
                const currentLanguage = getLanguageFromURL().toUpperCase() || 'ES'; 

                // Obtener el botón del dropdown
                const dropdownButton = document.getElementById('languageDropdown');

                // Actualizar el texto del botón con el idioma actual
                dropdownButton.textContent = currentLanguage;

                // Agregar event listeners a las opciones del dropdown
                const dropdownItems = document.querySelectorAll('.dropdown-item');

                dropdownItems.forEach(item => {
                    item.addEventListener('click', () => {
                        const selectedLanguage = item.textContent.substring(0, 2).toUpperCase();
                        dropdownButton.textContent = selectedLanguage;
                    });
                });
            });
        </script>
    </body>
</html>
