<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>EVO GYM</title>        
    </head>
        
    <body id="page-top">
        <header th:replace="~{layout/plantilla :: nav-perfil}"/> 

        <section class="container mt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <img src="/assets/img/team/1.jpg" alt="Imagen de perfil" class="profile-image">
                            <div class="profile-name"><span sec:authentication="name"></span></div>
                        <div class="profile-role">Entrenador personal</div>
                        <div class="profile-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore   
                dolore magna aliqua endisse ultrices gravida lorem.   

                        </div>
                        <div class="training-days">
                            85 <br>
                            Días <br>
                            entrenando
                        </div>
                        <div class="d-flex flex-column text-center mt-4">
                            <button type="button" class="btn btn-primary">Editar perfil</button>
                            <form method="post" th:action="@{/logout}">
                                <button type="submit" class="btn btn-primary mt-2">Cerrar sesión</button>
                            </form>
                            
                         </div>
                        <div class="d-flex flex-column text-center mt-4" sec:authorize="hasRole('ROLE_ADMIN')">
                            <!-- <button type="button" class="btn btn-primary" th:formaction="@{/dashboard}">Panel Administrativo</button>comment --> 
                            <a class="btn btn-primary" th:href="@{/dashboard}" role="button">Panel Administrativo</a>
                         </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="~{layout/plantilla :: footer}"/> 
        
        <script src="js/scripts.js"></script>
        <script>
            
            document.addEventListener('DOMContentLoaded', (event) => {
                // Función para obtener el idioma de la URL
                function getLanguageFromURL() {
                    const urlParams = new URLSearchParams(window.location.search);
                    return urlParams.get('lang');
                }

                // Obtener el idioma actual de la URL o usar 'ES' como valor por defecto
                const currentLanguage = getLanguageFromURL().toUpperCase() || 'ES'; 

                // Obtener el botón del dropdown
                const dropdownButton = document.getElementById('languageDropdown');

                // Actualizar el texto del botón con el idioma actual
                dropdownButton.textContent = currentLanguage;

                // Agregar event listeners a las opciones del dropdown
                const dropdownItems = document.querySelectorAll('.dropdown-item');

                dropdownItems.forEach(item => {
                    item.addEventListener('click', () => {
                        const selectedLanguage = item.textContent.substring(0, 2).toUpperCase();
                        dropdownButton.textContent = selectedLanguage;
                    });
                });
            });
        </script>
    </body>
</html>