<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>EVO GYM</title>        
    </head>
        
    <body id="page-top">
        <header th:replace="~{layout/plantilla :: nav-pruebas}"/> 
        
        <section class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="subtitulo-seccion">Nuestras</div>
                    <div class="titulo-seccion">Membresías</div>
                    <p class="texto-principal">Nuestras opciones de suscripción adaptables son ideales para lograr tus metas</p>
                    <p class="texto-principal">de acondicionamiento físico. ¡Inicia tu camino hacia un estilo de vida más saludable hoy mismo!</p>
                </div>
            </div>
        </section>
        
        <div id="generic_price_table">   
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!--PRICE HEADING START-->
                            <div class="price-heading clearfix">
                                <h1>Planes activos</h1>
                            </div>
                            <!--//PRICE HEADING END-->
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <!--BLOCK ROW START-->
                    <div class="row">
                
                
                
                                    <div class="col-md-4" th:each="membresia : ${membresias}">
                            <!--PRICE CONTENT START-->
                            <!--<div class="generic_content clearfix">-->
                            <div th:class="${membresia.destacar ? 'generic_content clearfix active' : 'generic_content clearfix'}">
                                <!--HEAD PRICE DETAIL START-->
                                <div class="generic_head_price clearfix">

                                    <!--HEAD CONTENT START-->
                                    <div class="generic_head_content clearfix">

                                        <!--HEAD START-->
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span th:text="${membresia.nombre}"></span>
                                        </div>
                                        <!--//HEAD END-->

                                    </div>
                                    <!--//HEAD CONTENT END-->

                                    <!--PRICE START-->
                                    <div class="generic_price_tag clearfix">	
                                        <span class="price">
                                            <span class="sign">₡</span>
                                            <span class="currency" th:text="${membresia.precio}"></span>
                                            <span class="cent">.00</span>
                                            <span class="month">/MEN</span>
                                        </span>
                                    </div>
                                    <!--//PRICE END-->

                                </div>                            
                                <!--//HEAD PRICE DETAIL END-->

                                <!--FEATURE LIST START-->
                                <div class="generic_feature_list">
                                        <ul>
                                        <!--<li><span>2GB</span> Bandwidth</li>
                                        <li><span>150GB</span> Storage</li>
                                        <li><span>12</span> Accounts</li>
                                        <li><span>7</span> Host Domain</li>
                                        <li><span>24/7</span> Support</li>-->
                                        <li th:each="beneficio : ${membresia.beneficios}">
                                            <span th:text="${beneficio.descripcion}"></span>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <!--//FEATURE LIST END-->

                                <!--BUTTON START-->
                                <div class="generic_price_btn clearfix">
                                        <a class="" href="">Añadir al carrito</a>
                                </div>
                                <!--//BUTTON END-->
                            </div>
                        </div>
                
                
                        
                    </div>
                </div>
               
            </section> 
        </div>

        <footer th:replace="~{layout/plantilla :: footer}"/> 
        
        <script src="js/scripts.js"></script>
        <script>
            
            document.addEventListener('DOMContentLoaded', (event) => {
                // Función para obtener el idioma de la URL
                function getLanguageFromURL() {
                    const urlParams = new URLSearchParams(window.location.search);
                    return urlParams.get('lang');
                }

                // Obtener el idioma actual de la URL o usar 'ES' como valor por defecto
                const currentLanguage = getLanguageFromURL().toUpperCase() || 'ES'; 

                // Obtener el botón del dropdown
                const dropdownButton = document.getElementById('languageDropdown');

                // Actualizar el texto del botón con el idioma actual
                dropdownButton.textContent = currentLanguage;

                // Agregar event listeners a las opciones del dropdown
                const dropdownItems = document.querySelectorAll('.dropdown-item');

                dropdownItems.forEach(item => {
                    item.addEventListener('click', () => {
                        const selectedLanguage = item.textContent.substring(0, 2).toUpperCase();
                        dropdownButton.textContent = selectedLanguage;
                    });
                });
            });
        </script>
    </body>
</html>
