<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>EVO GYM</title>        
    </head>
        
    <body id="page-top">
        <header th:replace="~{layout/plantilla :: nav-pruebas}"/> 
        
        
        <section class="pt-5 pb-5 shadow-sm">
            <div class="container">
              <div class="row pt-5">
                <div class="col-12">
                </div>
              </div>
              <div class="row">
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch" th:each="productos : ${productos}">
                  <div class="card">
                    <img src="#" class="card-img-top" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title"><span th:text="${productos.descripcion}"></span></h5>
                      <p class="card-text mb-4"><span th:text="${productos.detalle}"></span></p>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"/> 
        
        <script src="js/scripts.js"></script>
        <script>
            
            document.addEventListener('DOMContentLoaded', (event) => {
                // Función para obtener el idioma de la URL
                function getLanguageFromURL() {
                    const urlParams = new URLSearchParams(window.location.search);
                    return urlParams.get('lang');
                }

                // Obtener el idioma actual de la URL o usar 'ES' como valor por defecto
                const currentLanguage = getLanguageFromURL().toUpperCase() || 'ES'; 

                // Obtener el botón del dropdown
                const dropdownButton = document.getElementById('languageDropdown');

                // Actualizar el texto del botón con el idioma actual
                dropdownButton.textContent = currentLanguage;

                // Agregar event listeners a las opciones del dropdown
                const dropdownItems = document.querySelectorAll('.dropdown-item');

                dropdownItems.forEach(item => {
                    item.addEventListener('click', () => {
                        const selectedLanguage = item.textContent.substring(0, 2).toUpperCase();
                        dropdownButton.textContent = selectedLanguage;
                    });
                });
            });
        </script>
    </body>
</html>
