<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>EVO GYM</title>        
    </head>
        
    <body id="page-top">
        <header th:replace="~{layout/plantilla :: nav-pruebas}"/> 
        <section class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="subtitulo-seccion">Nuestros</div>
                    <div class="titulo-seccion">Productos</div>
                    </div>
            </div>
        </section>
        
        <section class="pt-5 pb-5 shadow-sm">
            <div class="container">
                <select id="filtro-categoria">
                    <option value="">Todas las categorías</option>
                    <option th:each="categoria : ${categorias}" 
                            th:value="${categoria.idCategoria}" 
                            th:text="${categoria.descripcion}">
                    </option>
                </select>
              <div class="row pt-5">
                <div class="col-12">
                </div>
              </div>
                <div class="row">
                <div class="card col-sm-6 col-md-4" style="width: 18rem;" th:each="productos : ${productos}" th:attr="data-categoria=${productos.categoria.idCategoria}">
                    <img th:src="@{${productos.rutaImagen}}" alt="Imagen del producto" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><span th:text="${productos.descripcion}"></span></h5>
                        <p class="card-text"><span th:text="${productos.detalle}"></span></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Categoria: <span th:text="${productos.categoria.descripcion}"/></li>
                        <li class="list-group-item">Precio: <span th:text="${productos.precio}"/></li>
                        <li class="list-group-item">Stock: <span th:text="${productos.existencias}"/></li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
                  </div>
            </div>
        </section>

        
        
        
        <footer th:replace="~{layout/plantilla :: footer}"/> 
        
        <script src="js/scripts.js"></script>
        <script>
            
            document.addEventListener('DOMContentLoaded', (event) => {
                // Función para obtener el idioma de la URL
                function getLanguageFromURL() {
                    const urlParams = new URLSearchParams(window.location.search);
                    return urlParams.get('lang');
                }

                // Obtener el idioma actual de la URL o usar 'ES' como valor por defecto
                const currentLanguage = getLanguageFromURL().toUpperCase() || 'ES'; 

                // Obtener el botón del dropdown
                const dropdownButton = document.getElementById('languageDropdown');

                // Actualizar el texto del botón con el idioma actual
                dropdownButton.textContent = currentLanguage;

                // Agregar event listeners a las opciones del dropdown
                const dropdownItems = document.querySelectorAll('.dropdown-item');

                dropdownItems.forEach(item => {
                    item.addEventListener('click', () => {
                        const selectedLanguage = item.textContent.substring(0, 2).toUpperCase();
                        dropdownButton.textContent = selectedLanguage;
                    });
                });
            });
        </script>
        <script>
            const filtroCategoria = document.getElementById('filtro-categoria');
filtroCategoria.addEventListener('change', () => {
    const categoriaId = filtroCategoria.value;
    const productos = document.querySelectorAll('.card[data-categoria]');

    productos.forEach(producto => {
        const productoCategoriaId = producto.getAttribute('data-categoria');
        if (categoriaId === '' || productoCategoriaId === categoriaId) {
            producto.style.display = 'block';
        } else {
            producto.style.display = 'none';
        }
    });
});
        </script>
    </body>
</html>
